<p>
  Estudando Bindings
</p>

<button (click)="onClick()">Evento (click)</button>
<button on-click="onClick()">Evento on-click</button>

<br /><br />

<button (mouseover)="onMouseOver()">Evento (mouseover)</button>
<button on-mouseover="onMouseOver()">Evento on-mouseover</button>

<br /><br />

<input placeholder="Evento keyDown" type="text" (keydown)="onKeyDown()">
<input placeholder="Evento keyDown" type="text" on-keydown="onKeyDown()">

<br /><br />

<input placeholder="Evento keyUp" type="text" (keyup)="onKeyUp()">
<input placeholder="Evento keyUp" type="text" on-keyup="onKeyUp()">